{% extends "layout.html" %}

{% block content %}
<h1>Total</h1>
<h2>$ {{total}}</h2>

<a class="btn btn-secondary" href="{% url 'create' %}">Agregar</a>

<div class="view">
    <div class="bg-success input">
        <h3>Ingresos</h3>
        <ul class="list-group border-3">
            {% for input in inputs %}
                <li class="list-group-item border-success d-flex justify-content-between">
                    <div class="d-flex align-items-center">
                        <span class="material-symbols-outlined text-success fs-5">{{input.category.class_name}}</span>
                    </div>
                    <div class="w-75">
                        <div class="d-flex justify-content-between">
                            <p>{{input.name}}</p>
                            <p>{{input.date|date:"d/m/Y"}}</p>
                        </div>
                        <p>${{input.amount}}</p>
                    </div>
                    <div class="d-flex flex-column">
                        <a href="{% url 'edit' id=input.id %}"><span class="btn btn-secondary fs-5 p-2 material-symbols-outlined">edit</span></a>
                        <a class="mt-1" href="{% url 'delete' id=input.id %}"><span class="btn btn-danger fs-5 p-2 material-symbols-outlined">delete</span></a>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="output bg-danger">
        <h3>Egresos</h3>
        <ul class="list-group border-3">
            {% for output in outputs %}
                <li class="list-group-item border-danger d-flex justify-content-between">
                    <div class="d-flex align-items-center">
                        <span class="material-symbols-outlined text-danger fs-5">{{output.category.class_name}}</span>
                    </div>
                    <div class="w-75">
                        <div class="d-flex justify-content-between">
                            <p>{{output.name}}</p>
                            <p>{{output.date|date:"d/m/Y"}}</p>
                            
                        </div>
                        <p>${{output.amount}}</p>
                    </div>
                    <div class="d-flex flex-column">
                        <a href="{% url 'edit' id=output.id %}"><span class="btn btn-secondary fs-5 p-2 material-symbols-outlined">edit</span></a>
                        <a class="mt-1" href="{% url 'delete' id=output.id %}"><span class="btn btn-danger fs-5 p-2 material-symbols-outlined">delete</span></a>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>

<a class="btn btn-secondary" href="{% url 'list_movements_default' %}">Ver Todos</a>

{% endblock content %}