{% extends "layout.html" %}

{% block content %}
<div class="d-flex align-items-center">
    <a class="btn btn-secondary me-2" href="{% url 'index' %}">Volver</a>
    <h1>Editar movimiento</h1>
</div>

{% if form.errors %}
<div>
    <ul class="list-errors">
        {% for field, errors in form.errors.items %}
            {% for error in errors %}
                <li class="alert alert-danger">{{ error }}</li>
            {% endfor %}
        {% endfor %}
    </ul>
</div>
{% endif %}

<form method="post" action="" class="w-50 d-flex flex-column">
    {% csrf_token %}

    <div class="mb-3">
        {{ form.name.label_tag }}
        {{ form.name }}
    </div>

    <div class="mb-3">
        {{ form.date.label_tag }}
        {{ form.date }}
    </div>
    
    <div class="mb-3">
        {{ form.type_movement.label_tag }}
        {{ form.type_movement }}
    </div>

    <div class="mb-3 aux">
        {{ form.category_input.label_tag }}
        {{ form.category_input }}
    </div>

    <div class="mb-3 aux">
        {{ form.category_output.label_tag }}
        {{ form.category_output }}
    </div>

    <div class="mb-3">
        {{ form.amount.label_tag }}
        {{ form.amount }}
    </div>

    <button type="submit" class="btn btn-primary">Enviar</button>
</form>

{% endblock content %}

{% block script %}

<script>
    var type = document.getElementById("type");
    var divs = document.getElementsByClassName("aux");
    function handler() { 
        if (type.value == "True") {
            divs[0].classList.remove("hidden")
            divs[1].classList.add("hidden")
        } else {
            divs[1].classList.remove("hidden")
            divs[0].classList.add("hidden")
        }
    }
    handler();
    type.addEventListener("change", handler);

</script>

{% endblock script %}