{% extends "layout.html" %}

{% block content %}

<h1>Iniciar Sesión</h1>

{% if form.errors %}
<ul class="list-errors ps-0">
    {% for field, errors in form.errors.items %}
        {% for error in errors %}
            <li class="alert alert-danger">{{ error }}</li>
        {% endfor %}
    {% endfor %}
</ul>
{% endif %}

<form method="POST" class="d-flex flex-column">
    {% csrf_token %}
    
    <div class="mb-3">
        {{ form.email.label_tag }}
        {{ form.email }}
    </div>

    <div class="mb-3">
        {{ form.password.label_tag }}
        {{ form.password }}
    </div>

    <button type="submit">Ingresar</button>
</form>

{% endblock  %}